{
    "builders": [{
      "type": "azure-arm",
  
      "tenant_id": "{{ tenantId }}",
      "subscription_id": "{{ subscriptionId }}",
  
      "build_resource_group_name": "ImageBakery",
      "managed_image_resource_group_name": "rg-packerimages",
      "managed_image_name": "Windows10Base",
      "virtual_network_name": "{{ azureVNet }}",
      "virtual_network_subnet_name": "{{ VDISubnet }}",
      "private_virtual_network_with_public_ip": true,
      "virtual_network_resource_group_name": "{{ azureResourceGroup }}",
      "managed_image_os_disk_snapshot_name": "Windows10Base_snapshot",
      "os_type": "Windows",
      "image_publisher": "MicrosoftWindowsDesktop",
      "image_offer": "Windows-10",
      "image_sku": "19h1-evd",
  
      "communicator": "winrm",
      "winrm_use_ssl": true,
      "winrm_insecure": true,
      "winrm_timeout": "5m",
      "winrm_username": "packer",
  
      "azure_tags": {
          "dept": "Engineering",
          "task": "Image deployment"
      },
      "vm_size": "Standard_D2_v2",
      "async_resourcegroup_delete":true
    }],
    "provisioners": [
      {
        "type": "powershell",
        "inline": [
          "winrm quickconfig -q -force",
          "Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Force"
        ]
      },
      {
        "type": "powershell",
        "script": ".\\installs.ps1"
      },
      {
        "type": "powershell",
        "execution_policy": "unrestricted",
        "script": ".\\vda.ps1"
      },
      {
        "type": "powershell",
        "execution_policy": "unrestricted",
        "script": ".\\baseline_svc.ps1"
      },
      {
        "type": "powershell",
        "execution_policy": "unrestricted",
        "script": ".\\baseline_features.ps1"
      },
      {
      "type": "powershell",
      "inline": [
        "Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))",
        "choco feature enable -n=allowGlobalConfirmation",
        "choco install notepadplusplus"
      ]
    }]
  }

